*{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    /* height: 150px; */
    background-color: gray;
    display: flex;  
}
.box{
    width: 25%;
    /* background-color: gray; */
     /* height: 100px; */
}