@media (max-width: 576px){
    .box{
        background-color: cyan;
    }
}
@media (min-width: 577px) and (max-width: 767px){
    .box{
        background-color: blueviolet;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .box{
        background-color: forestgreen;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .box{
        background-color: hotpink;
    }
}
@media (min-width: 1201px) and (max-width: 1400px){
    .box{
        background-color: indigo;
    }
}